<template>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <ul class="nav">
                    <li class="nav-item"><router-link class="nav-link" to="/dashboard">Dashboard</router-link></li>
                    <li class="nav-item"><router-link class="nav-link" to="/profile">Profile</router-link></li>
                    <li class="nav-item"><a href="#" class="nav-link" @click="logout">Logout</a></li>
                </ul>
            </div>

            <div class="card-body">
                <h2 class="text-center">Welcome To Dashboard</h2>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.');
        },
        methods: {
            logout(){
                let url = 'http://localhost:8000/api/auth/logout';
                this.axios.post(url, this.data).then((res) => {
                    console.log(res.data);
                    if(res.data.success == true)
                    {
                        localStorage.setItem('usrId', '');
                        this.$router.push({path: '/'});
                    }
                });
            }
        }
    }
</script>