<template>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <ul class="nav">
                    <li class="nav-item"><router-link class="nav-link" to="/dashboard">Dashboard</router-link></li>
                    <li class="nav-item"><router-link class="nav-link" to="/profile">Profile</router-link></li>
                    <li class="nav-item"><a href="#" class="nav-link" @click="logout">Logout</a></li>
                </ul>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-6 pb-2">
                                <b>Name</b>
                                <div>
                                    <span v-if="data.name">{{ data.name }}</span>
                                    <span v-else class="text-danger">Not Given</span>
                                </div>
                            </div>

                            <div class="col-md-6 pb-2">
                                <b>Phone</b>
                                <div>
                                    <span v-if="data.phone">{{ data.phone }}</span>
                                    <span v-else class="text-danger">Not Given</span>
                                </div>
                            </div>

                            <div class="col-md-6 pb-2">
                                <b>Email</b>
                                <div>
                                    <span v-if="data.email">{{ data.email }}</span>
                                    <span v-else class="text-danger">Not Given</span>
                                </div>
                            </div>

                            <div class="col-md-6 pb-2">
                                <b>Country</b><br>
                                <div>
                                    <span v-if="data.country">{{ data.country }}</span>
                                    <span v-else class="text-danger">Not Given</span>
                                </div>
                            </div>

                            <div class="col-md-6 pb-2">
                                <b>State</b>
                                <div>
                                    <span v-if="data.state">{{ data.state }}</span>
                                    <span v-else class="text-danger">Not Given</span>
                                </div>
                            </div>

                            <div class="col-md-6 pb-2">
                                <b>City</b>
                                <div>
                                    <span v-if="data.city">{{ data.city }}</span>
                                    <span v-else class="text-danger">Not Given</span>
                                </div>
                            </div>

                            <div class="col-md-6 pb-2">
                                <b>Zip</b>
                                <div>
                                    <span v-if="data.zip_code">{{ data.zip_code }}</span>
                                    <span v-else class="text-danger">Not Given</span>
                                </div>
                            </div>

                            <div class="col-md-6 pb-2">
                                <b>Address</b>
                                <div>
                                    <span v-if="data.address">{{ data.address }}</span>
                                    <span v-else class="text-danger">Not Given</span>
                                </div>
                            </div>

                            <div class="col-md-12 pt-2">
                                <router-link class="btn btn-success" to="/profile-edit">Edit Profile</router-link> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                data:{}
            }
        },
        created() {
            let usrId = localStorage.getItem('usrId');
            let url = 'http://localhost:8000/api/user/profile/'+usrId;
            this.axios.get(url).then((res) => {
                this.data = res.data;
            });
        },
        methods: {
            logout(){
                let url = 'http://localhost:8000/api/auth/logout';
                this.axios.post(url, this.data).then((res) => {
                    console.log(res.data);
                    if(res.data.success == true)
                    {
                        localStorage.setItem('usrId', '');
                        this.$router.push({path: '/'});
                    }
                });
            }
        }
    }
</script>