<template>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <ul class="nav">
                    <li class="nav-item"><router-link class="nav-link" to="/dashboard">Dashboard</router-link></li>
                    <li class="nav-item"><router-link class="nav-link" to="/profile">Profile</router-link></li>
                    <li class="nav-item"><a href="#" class="nav-link" @click="logout">Logout</a></li>
                </ul>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form @submit.prevent="update">
                            <div class="row">
                                <div class="col-md-6 pb-2 form-group">
                                    <label>Name</label>
                                    <input class="form-control" type="text" v-model="data.name" required>
                                </div>

                                <div class="col-md-6 pb-2 form-group">
                                    <label>Country</label><br>
                                    <input class="form-control" type="text" v-model="data.country" required>
                                </div>

                                <div class="col-md-6 pb-2 form-group">
                                    <label>State</label>
                                    <input class="form-control" type="text" v-model="data.state" required>
                                </div>

                                <div class="col-md-6 pb-2 form-group">
                                    <label>City</label>
                                    <input class="form-control" type="text" v-model="data.city" required>
                                </div>

                                <div class="col-md-6 pb-2 form-group">
                                    <label>Zip</label>
                                    <input class="form-control" type="text" v-model="data.zip_code" required>
                                </div>

                                <div class="col-md-6 pb-2 form-group">
                                    <label>Address</label>
                                    <input class="form-control" type="text" v-model="data.address" required>
                                </div>

                                <div class="col-md-12 pt-2">
                                    <button type="submit" class="btn btn-success">Update</button> 
                                    <router-link class="btn btn-danger" to="/profile">Cancel</router-link> 
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                data:{}
            }
        },
        created() {
            let usrId = localStorage.getItem('usrId');
            let url = 'http://localhost:8000/api/user/profile/'+usrId;
            this.axios.get(url).then((res) => {
                this.data = res.data;
            });
        },
        methods: {
            logout(){
                let url = 'http://localhost:8000/api/auth/logout';
                this.axios.post(url, this.data).then((res) => {
                    console.log(res.data);
                    if(res.data.success == true)
                    {
                        localStorage.setItem('usrId', '');
                        this.$router.push({path: '/'});
                    }
                });
            },
            update(){
                let usrId   = localStorage.getItem('usrId');
                let url     = `http://localhost:8000/api/user/profile-update/${usrId}`;
                this.axios.put(url, this.data).then((res) => {
                   this.$router.push({name: 'profile'});
                });
            }
        }
    }
</script>