<template>
    <div class="container">
        <div class="row justify-content-center">
            <router-view></router-view>
        </div>
    </div>
</template>

<!-- <style>
    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s
    }
    .fade-enter, .fade-leave-active {
      opacity: 0
    }
</style> -->

<script>
    export default {
        data(){
            return {

            }
        },
        mounted() {
            let to = this.$router.currentRoute;
            let usrId = localStorage.getItem('usrId');

            if(to.name == '/' || to.name == 'login' || to.name == 'register')
            {        
                if(usrId) {
                    this.$router.push({path: '/dashboard'});
                }
                return false;
            }

            if(!usrId) {
                this.$router.push({path: '/login'});
            }
        },
    }
</script>