<template>       
        <div class="col-md-6" style="margin-top: 100px;">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h1>VueAuth Login</h1><br>
                    </div>

                    <div v-if="errors.length > 0">
                        <ul class="alert alert-danger">
                            <li v-for="(value, key, index) in errors">@{{ value }}</li>
                        </ul>
                    </div>

                    <form @submit.prevent="login">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label>User Name</label>
                                <input class="form-control" type="text" v-model="data.username" required>
                            </div>

                            <div class="col-md-12 form-group">
                                <label>Password</label>
                                <input class="form-control" type="password" v-model="data.password" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success" style="width: 100%;">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="text-center"><br>
                Don't have an account? <router-link to="register">Register Now !</router-link>  
            </div>
        </div>
</template>

<script>
    export default {
        mounted(){
           
        },
        data(){
            return {
                data:{},
                errors:{}
            }
        },
        methods: {
            login(){
                let url = 'http://localhost:8000/api/auth/login';
                this.axios.post(url, this.data).then((res) => {
                    console.log(res.data);
                    if(res.data.success == false)
                    {
                        let errors = Object.values(res.data.errors);
                        this.errors = errors.flat();
                        return false;
                    }

                    if(res.data.success == true)
                    {
                        localStorage.setItem('usrId', res.data.user._id);
                        this.$router.push({path: '/dashboard'});
                    }
                });
            }
        }
    }
</script>